In [1]:
import pandas as pd
import geobr
import numpy as np
import os

In [15]:
from pathlib import Path

# `cwd`: current directory is straightforward
basepath = str(Path.cwd().parent) + '/src/data'
basepath

'/Users/feliphlvo/access-to-education/src/data'

In [3]:
# Municipalities
municipalities_df = geobr.read_municipality(year=2010)

In [4]:
len(municipalities_df)

5567

In [5]:
municipalities_df.head()

,code_muni,name_muni,code_state,abbrev_state,geometry
0,1100015.0,Alta Floresta D'oeste,11.0,RO,"MULTIPOLYGON (((-62.24620 -11.90149, -62.24151..."
1,1100023.0,Ariquemes,11.0,RO,"MULTIPOLYGON (((-63.13712 -9.78413, -63.09013 ..."
2,1100031.0,Cabixi,11.0,RO,"MULTIPOLYGON (((-60.52408 -13.32137, -60.37161..."
3,1100049.0,Cacoal,11.0,RO,"MULTIPOLYGON (((-61.42679 -11.11376, -61.42900..."
4,1100056.0,Cerejeiras,11.0,RO,"MULTIPOLYGON (((-61.41347 -13.23417, -61.42603..."

In [6]:
# Microregions
microregion_df = geobr.read_micro_region(year=2010, )

In [7]:
microregion_df.head(20)

,code_state,abbrev_state,name_state,code_micro,name_micro,geometry
0,11.0,RO,Rondônia,11007.0,Vilhena,"MULTIPOLYGON (((-60.44294 -11.01572, -60.43794..."
1,11.0,RO,Rondônia,11001.0,Porto Velho,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ..."
2,11.0,RO,Rondônia,11004.0,Ji-Paraná,"MULTIPOLYGON (((-61.57450 -9.72063, -61.57157 ..."
3,11.0,RO,Rondônia,11002.0,Guajará-Mirim,"MULTIPOLYGON (((-65.37724 -10.43117, -65.37505..."
4,11.0,RO,Rondônia,11008.0,Colorado Do Oeste,"MULTIPOLYGON (((-61.47607 -12.46432, -61.46801..."
5,11.0,RO,Rondônia,11006.0,Cacoal,"MULTIPOLYGON (((-61.42731 -10.98755, -61.00059..."
6,11.0,RO,Rondônia,11003.0,Ariquemes,"MULTIPOLYGON (((-62.22055 -8.59088, -62.21053 ..."
7,11.0,RO,Rondônia,11005.0,Alvorada D'oeste,"MULTIPOLYGON (((-63.62702 -11.00502, -63.60993..."
8,12.0,AC,Acre,12002.0,Tarauacá,"MULTIPOLYGON (((-70.05145 -7.84816, -69.44432 ..."
9,12.0,AC,Acre,12003.0,Sena Madureira,"MULTIPOLYGON (((-69.44261 -8.36795, -68.64719 ..."
10,12.0,AC,Acre,12004.0,Rio Branco,"MULTIPOLYGON (((-68.21990 -9.24275, -67.51688 ..."
11,12.0,AC,Acre,12001.0,Cruzeiro Do Sul,"MULTIPOLYGON (((-73.18253 -7.33550, -72.58477 ..."
12,12.0,AC,Acre,12005.0,Brasiléia,"MULTIPOLYGON (((-68.44879 -10.18410, -68.44250..."
13,13.0,AM,Amazônas,13005.0,Tefé,"MULTIPOLYGON (((-65.12451 -2.38965, -65.11559 ..."
14,13.0,AM,Amazônas,13008.0,Rio Preto Da Eva,"MULTIPOLYGON (((-59.93995 0.03489, -59.93328 0..."
15,13.0,AM,Amazônas,13001.0,Rio Negro,"MULTIPOLYGON (((-67.32609 2.02971, -67.31682 2..."
16,13.0,AM,Amazônas,13012.0,Purus,"MULTIPOLYGON (((-62.99193 -4.52308, -62.98952 ..."
17,13.0,AM,Amazônas,13010.0,Parintins,"MULTIPOLYGON (((-58.89546 0.26351, -58.89504 -..."
18,13.0,AM,Amazônas,13007.0,Manaus,"MULTIPOLYGON (((-60.24162 -1.99757, -60.23298 ..."
19,13.0,AM,Amazônas,13013.0,Madeira,"MULTIPOLYGON (((-58.84164 -3.85220, -58.84492 ..."

In [8]:
# Region
region_df = geobr.read_region(year=2010)

In [9]:
len(region_df)

5

In [10]:
# State
state_df = geobr.read_state(year=2010)

In [11]:
len(state_df)

27

In [12]:
# Country
country_df = geobr.read_country(year=2010)

In [16]:
access_df = pd.read_csv(f"{basepath}/access_df.csv")

/var/folders/v6/m0s_jr6d723809xzpzrvx_340000gn/T/ipykernel_51267/3644115942.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  access_df = pd.read_csv(f"{basepath}/access_df.csv")

In [17]:
access_df.columns

Index(['sector_id', '3sfca_n_classes', 'e2sfca_n_classes', 'state',
       'n_households', 'n_people', 'avg_monthly_earnings',
       'n_people_15to17_white', 'n_people_15to17_black',
       'n_people_15to17_asian', 'n_people_15to17_parda',
       'n_people_15to17_indigenous', 'n_people_15', 'n_people_16',
       'n_people_17', 'n_people_15_men', 'n_people_16_men', 'n_people_17_men',
       'n_people_15_women', 'n_people_16_women', 'n_people_17_women',
       'n_people_15to17dem', 'n_people_15to17_alternative', 'state_id',
       'state_abbrev', 'city_id', 'city_name', 'district_id', 'district_name',
       'subdistrict_id', 'subdistrict_name', 'neighborhood_name',
       'neighborhood_id', 'geometry', 'microregion_id', 'microregion_name',
       'mesoregion_id', 'mesoregion_name', 'n_people_15to17', 'A', 'Q', 'H',
       'pct_black', 'pct_white', 'pct_indigenous', 'pct_pardos', 'pct_asian',
       'pct_men', 'area', 'density', 'zone_rural', 'zone_urban',
       'region_Midwest', 'region_North', 'region_Northeast', 'region_South',
       'region_Southeast', 'fpl_above', 'fpl_below', 'points', 'A_percentile',
       'Q_percentile', 'H_percentile', 'is_outlier', 'std_from_mean',
       'A_clipped', 'H_clipped', 'A_normalized', 'H_normalized',
       'A_clipped_normalized', 'H_clipped_normalized'],
      dtype='object')

In [19]:
access_df[['fpl_below', 'fpl_above']]

        fpl_below  fpl_above
0               0          1
1               0          1
2               0          1
3               0          1
4               1          0
...           ...        ...
301562          0          1
301563          0          1
301564          0          1
301565          0          1
301566          0          1

[301567 rows x 2 columns]

In [ ]:
outcome_metrics = [
    'A', 'Q', 'H', 
    #'A_normalized', 'H_normalized', 
    #'A_percentile', 'Q_percentile', 'H_percentile',
    #'A_clipped_normalized', 'H_clipped_normalized',

]
access_df.describe()[outcome_metrics]

                   A              Q              H
count  281996.000000  281996.000000  281996.000000
mean        0.688919       0.402976       0.278384
std         0.609726       0.057715       0.215616
min         0.000379       0.150000       0.000133
25%         0.537793       0.360583       0.201500
50%         0.656696       0.408520       0.267733
75%         0.817793       0.443783       0.339502
max       176.032343       0.669369      42.185822

### Creating Access Metrics at different levels

In [20]:


agg_dict = {'sum':['n_people',
    'n_households',
    'n_people_15to17_white', 'n_people_15to17_black',
       'n_people_15to17_asian', 'n_people_15to17_parda',
       'n_people_15to17_indigenous', 'n_people_15', 'n_people_16',
       'n_people_17', 'n_people_15_men', 'n_people_16_men', 'n_people_17_men',
       'n_people_15_women', 'n_people_16_women', 'n_people_17_women',
       'n_people_15to17dem', 'n_people_15to17_alternative'
       ], 

       'weighted_average':['A', 'Q', 'H', 'A_normalized', 'H_normalized',
       'pct_black', 'pct_white', 'pct_indigenous', 'pct_pardos', 'pct_asian',
       'pct_men', 'avg_monthly_earnings', 'fpl_below']}

# Define a custom function for weighted average in a groupby, ignoring NaNs

In [21]:
# Renaming variables
access_df = access_df.rename(columns = {'city_id':'code_muni', 'microregion_id':'code_micro', 'state_id':'code_state'})

# Filling NaN values for the regions that do not have a school nearby
access_df[["A", "H"]] = access_df[["A", "H"]].fillna(0)

In [22]:
access_df[access_df['Q'].notna()]

,sector_id,3sfca_n_classes,e2sfca_n_classes,state,n_households,n_people,avg_monthly_earnings,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,...,Q_percentile,H_percentile,is_outlier,std_from_mean,A_clipped,H_clipped,A_normalized,H_normalized,A_clipped_normalized,H_clipped_normalized
0,170025105000002,0.002974,0.002974,TO,115.0,300.0,648.06,1.0,0.0,0.0,...,0.871243,0.085445,0,-0.959177,0.104084,0.044756,0.001582,0.001758,0.001582,0.001758
1,170030105000001,0.037295,0.035309,TO,286.0,1123.0,927.45,10.0,2.0,3.0,...,0.636417,0.834414,0,1.010960,1.305327,0.535184,0.020842,0.021920,0.020842,0.021920
2,170030105000002,0.037050,0.035869,TO,294.0,1101.0,478.33,11.0,0.0,1.0,...,0.636417,0.832646,0,0.996900,1.296754,0.531669,0.020705,0.021775,0.020705,0.021775
3,170030105000003,0.007200,0.006643,TO,102.0,385.0,453.32,3.0,1.0,0.0,...,0.636417,0.127283,0,-0.716601,0.251988,0.103315,0.003954,0.004165,0.003954,0.004165
4,170030105000004,0.030753,0.038818,TO,56.0,245.0,368.55,3.0,0.0,0.0,...,0.636417,0.726576,0,0.635421,1.076351,0.441304,0.017171,0.018060,0.017171,0.018060
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301562,355620605000113,0.011941,0.004990,SP2,299.0,1083.0,1030.88,42.0,2.0,1.0,...,0.869769,0.054415,0,-0.456153,0.410790,0.200354,0.033316,0.031238,0.033316,0.031238
301563,355640405000064,0.017389,0.017229,SP2,45.0,163.0,914.44,3.0,1.0,0.0,...,0.881307,0.580833,0,-0.135943,0.606031,0.296775,0.049235,0.046362,0.049235,0.046362
301564,355640405000070,0.020495,0.020317,SP2,224.0,811.0,779.52,24.0,3.0,0.0,...,0.879851,0.770410,0,0.042235,0.714671,0.349828,0.058093,0.054683,0.058093,0.054683
301565,355645305000027,0.019816,0.014724,SP2,244.0,883.0,669.79,20.0,4.0,1.0,...,0.563221,0.639365,0,0.012965,0.696824,0.310878,0.056638,0.048574,0.056638,0.048574
301566,355680005000031,0.015391,0.015834,SP2,13.0,47.0,1110.77,2.0,0.0,0.0,...,0.376884,0.115594,0,-0.245612,0.539163,0.231833,0.043783,0.036176,0.043783,0.036176

In [23]:
def new_access_level(previous_level, new_level_df, new_level_name, calculate_percentiles=True):

    def weighted_avg(group):
        weights = group['n_people_15to17']
        
        # Define numerical columns        
        weighted_averages = {}
        
        for col in agg_dict['weighted_average']:
            # Step 1: Mask for non-NaN values
            non_nan_mask = ~np.isnan(group[col])
            
            # Step 2: Apply mask to values and weights
            values_non_nan = group[col][non_nan_mask]
            weights_non_nan = weights[non_nan_mask]
            
            # Step 3: Check if sum of weights is zero
            if np.sum(weights_non_nan) == 0:
                weighted_averages[col] = np.nan
            else:
                # Step 4: Compute weighted average ignoring NaNs
                weighted_averages[col] = np.average(values_non_nan, weights=weights_non_nan)
        
        return pd.Series(weighted_averages)


    ## Group by 'Category'
    grouped = previous_level.groupby(new_level_name)

    # Calculate sum of 'Quantity' and 'Price'
    sum_columns = grouped[agg_dict['sum']].sum().reset_index()


    # Calculate weighted average of 'Value' using 'Weight'
    weighted_average = grouped.apply(weighted_avg).reset_index(drop=True)#[agg_dict['weighted_average']]

    # Combine the sum and weighted average DataFrames
    result_df = pd.concat([sum_columns, weighted_average], axis=1)

    new_level_access_df = result_df.merge(new_level_df, on=new_level_name, how='right')

    # Calculate percentiles
    if calculate_percentiles:
        new_level_access_df['A_percentile'] = new_level_access_df.groupby('code_state')['A'].rank(pct=True)
        new_level_access_df['Q_percentile'] = new_level_access_df.groupby('code_state')['Q'].rank(pct=True)
        new_level_access_df['H_percentile'] = new_level_access_df.groupby('code_state')['H'].rank(pct=True)


    return new_level_access_df

In [24]:
# Values of Q that are not float
access_df[access_df['Q'].apply(lambda x: type(x) != float)]['Q']

Series([], Name: Q, dtype: float64)

In [29]:
# Municipality
municipalities_access_df = new_access_level(access_df, municipalities_df, 'code_muni')
print("Result DataFrame:")
municipalities_access_df.to_csv(f"{basepath}/municipality_access_df.csv", index=False)
municipalities_access_df.head()

Result DataFrame:

,code_muni,n_people,n_households,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,n_people_15to17_parda,n_people_15to17_indigenous,n_people_15,n_people_16,...,pct_men,avg_monthly_earnings,fpl_below,name_muni,code_state,abbrev_state,geometry,A_percentile,Q_percentile,H_percentile
0,1100015.0,24057.0,7265.0,619.0,61.0,14.0,851.0,32.0,557.0,534.0,...,0.526316,831.207838,0.024096,Alta Floresta D'oeste,11.0,RO,"MULTIPOLYGON (((-62.24620 -11.90149, -62.24151...",0.884615,0.826923,0.903846
1,1100023.0,89705.0,27155.0,1838.0,442.0,88.0,3122.0,7.0,1858.0,1882.0,...,0.501728,1087.937531,0.000000,Ariquemes,11.0,RO,"MULTIPOLYGON (((-63.13712 -9.78413, -63.09013 ...",0.673077,0.519231,0.673077
2,1100031.0,6304.0,1975.0,164.0,19.0,4.0,191.0,0.0,122.0,129.0,...,0.523810,804.246640,0.000000,Cabixi,11.0,RO,"MULTIPOLYGON (((-60.52408 -13.32137, -60.37161...",0.461538,0.269231,0.384615
3,1100049.0,78150.0,24168.0,1901.0,223.0,53.0,2462.0,90.0,1555.0,1636.0,...,0.506661,1099.412582,0.024318,Cacoal,11.0,RO,"MULTIPOLYGON (((-61.42679 -11.11376, -61.42900...",0.769231,0.711538,0.788462
4,1100056.0,16765.0,5290.0,443.0,62.0,10.0,555.0,2.0,358.0,369.0,...,0.505597,872.929739,0.040112,Cerejeiras,11.0,RO,"MULTIPOLYGON (((-61.41347 -13.23417, -61.42603...",0.269231,0.942308,0.403846

In [30]:
# Microregion
microregion_access_df = new_access_level(access_df, microregion_df, 'code_micro')
print("Result DataFrame:")
microregion_access_df.to_csv(f"{basepath}/microregion_access_df.csv", index=False)
microregion_access_df.head()

Result DataFrame:

,code_micro,n_people,n_households,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,n_people_15to17_parda,n_people_15to17_indigenous,n_people_15,n_people_16,...,avg_monthly_earnings,fpl_below,code_state,abbrev_state,name_state,name_micro,geometry,A_percentile,Q_percentile,H_percentile
0,11007.0,131293.0,40123.0,3079.0,406.0,74.0,4252.0,81.0,2678.0,2630.0,...,1155.164967,0.028130,11.0,RO,Rondônia,Vilhena,"MULTIPOLYGON (((-60.44294 -11.01572, -60.43794...",1.000,0.125,0.750
1,11001.0,530534.0,148820.0,8885.0,2084.0,632.0,20603.0,118.0,11058.0,10670.0,...,1261.153989,0.021159,11.0,RO,Rondônia,Porto Velho,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ...",0.250,0.500,0.250
2,11004.0,293414.0,89406.0,6225.0,1136.0,255.0,10467.0,87.0,6197.0,6111.0,...,1002.611320,0.013154,11.0,RO,Rondônia,Ji-Paraná,"MULTIPOLYGON (((-61.57450 -9.72063, -61.57157 ...",0.375,0.625,0.375
3,11002.0,69331.0,19056.0,1128.0,271.0,50.0,2784.0,274.0,1539.0,1533.0,...,862.492976,0.075438,11.0,RO,Rondônia,Guajará-Mirim,"MULTIPOLYGON (((-65.37724 -10.43117, -65.37505...",0.625,0.375,0.625
4,11008.0,52293.0,16501.0,1294.0,218.0,46.0,1750.0,5.0,1126.0,1123.0,...,886.826988,0.012979,11.0,RO,Rondônia,Colorado Do Oeste,"MULTIPOLYGON (((-61.47607 -12.46432, -61.46801...",0.875,1.000,1.000

In [31]:
# State
state_access_df = new_access_level(access_df, state_df, 'code_state', calculate_percentiles=False)
print("Result DataFrame:")
state_access_df.to_csv(f"{basepath}/state_access_df.csv", index=False)
state_access_df.head()

Result DataFrame:

,code_state,n_people,n_households,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,n_people_15to17_parda,n_people_15to17_indigenous,n_people_15,n_people_16,...,pct_pardos,pct_asian,pct_men,avg_monthly_earnings,fpl_below,abbrev_state,name_state,code_region,name_region,geometry
0,11.0,1542048.0,454527.0,31306.0,5843.0,1441.0,56309.0,746.0,32671.0,32033.0,...,0.588705,0.015065,0.503717,1065.369747,0.023743,RO,Rondônia,1.0,Norte,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ..."
1,12.0,728754.0,190503.0,10833.0,2650.0,974.0,32430.0,1022.0,16875.0,15643.0,...,0.676894,0.020330,0.500125,884.229632,0.170946,AC,Acre,1.0,Norte,"MULTIPOLYGON (((-73.18253 -7.33550, -72.58477 ..."
2,13.0,3457478.0,796959.0,45128.0,8402.0,1990.0,160085.0,11225.0,78681.0,75750.0,...,0.705749,0.008773,0.501217,838.277639,0.185509,AM,Amazonas,1.0,Norte,"MULTIPOLYGON (((-67.32609 2.02971, -67.31682 2..."
3,14.0,445291.0,115320.0,5578.0,1463.0,261.0,18419.0,3274.0,10143.0,9588.0,...,0.635247,0.009002,0.505397,993.262005,0.148060,RR,Roraima,1.0,Norte,"MULTIPOLYGON (((-60.20051 5.26434, -60.19273 5..."
4,15.0,7534979.0,1857406.0,98282.0,31570.0,4553.0,347443.0,2581.0,166139.0,161059.0,...,0.717217,0.009399,0.504601,737.253953,0.240484,PA,Pará,1.0,Norte,"MULTIPOLYGON (((-54.95431 2.58369, -54.93542 2..."

In [52]:
access_df.geometry

0         POLYGON ((-49.147468339186396 -9.5742374934258...
1         POLYGON ((-47.4800002365659 -6.560778770862189...
2         POLYGON ((-47.46688024550971 -6.56653402083835...
3         POLYGON ((-47.467366454010794 -6.5392094162737...
4         POLYGON ((-47.503988774630905 -6.5605228596778...
                                ...
301562    POLYGON ((-46.925019817137 -22.971357095002794...
301563    POLYGON ((-46.943123513273 -21.863603277155505...
301564    POLYGON ((-46.896196 -21.850766999999998, -46....
301565    POLYGON ((-47.01548799999999 -23.5881979999999...
301566    POLYGON ((-48.310935254103 -20.874541774675205...
Name: geometry, Length: 301567, dtype: object

In [33]:
microregion_access_df

,code_micro,n_people,n_households,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,n_people_15to17_parda,n_people_15to17_indigenous,n_people_15,n_people_16,...,avg_monthly_earnings,fpl_below,code_state,abbrev_state,name_state,name_micro,geometry,A_percentile,Q_percentile,H_percentile
0,11007.0,131293.0,40123.0,3079.0,406.0,74.0,4252.0,81.0,2678.0,2630.0,...,1155.164967,0.028130,11.0,RO,Rondônia,Vilhena,"MULTIPOLYGON (((-60.44294 -11.01572, -60.43794...",1.000000,0.125000,0.750000
1,11001.0,530534.0,148820.0,8885.0,2084.0,632.0,20603.0,118.0,11058.0,10670.0,...,1261.153989,0.021159,11.0,RO,Rondônia,Porto Velho,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ...",0.250000,0.500000,0.250000
2,11004.0,293414.0,89406.0,6225.0,1136.0,255.0,10467.0,87.0,6197.0,6111.0,...,1002.611320,0.013154,11.0,RO,Rondônia,Ji-Paraná,"MULTIPOLYGON (((-61.57450 -9.72063, -61.57157 ...",0.375000,0.625000,0.375000
3,11002.0,69331.0,19056.0,1128.0,271.0,50.0,2784.0,274.0,1539.0,1533.0,...,862.492976,0.075438,11.0,RO,Rondônia,Guajará-Mirim,"MULTIPOLYGON (((-65.37724 -10.43117, -65.37505...",0.625000,0.375000,0.625000
4,11008.0,52293.0,16501.0,1294.0,218.0,46.0,1750.0,5.0,1126.0,1123.0,...,886.826988,0.012979,11.0,RO,Rondônia,Colorado Do Oeste,"MULTIPOLYGON (((-61.47607 -12.46432, -61.46801...",0.875000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552,52017.0,146017.0,47929.0,3706.0,298.0,72.0,3106.0,10.0,2447.0,2440.0,...,1269.385334,0.000000,52.0,GO,Goiás,Catalão,"MULTIPOLYGON (((-47.68904 -16.91513, -47.68455...",0.333333,0.166667,0.277778
553,52003.0,54607.0,18567.0,1055.0,114.0,32.0,1828.0,8.0,1040.0,971.0,...,892.571815,0.038854,52.0,GO,Goiás,Aragarças,"MULTIPOLYGON (((-51.63470 -15.53424, -51.63449...",0.555556,0.388889,0.500000
554,52009.0,108795.0,37797.0,2490.0,196.0,65.0,3039.0,7.0,1923.0,1903.0,...,956.984463,0.000518,52.0,GO,Goiás,Anicuns,"MULTIPOLYGON (((-50.03682 -16.04344, -50.03720...",0.277778,0.722222,0.333333
555,52007.0,537007.0,169960.0,11649.0,1267.0,507.0,15066.0,23.0,9916.0,9081.0,...,1133.276583,0.006103,52.0,GO,Goiás,Anápolis,"MULTIPOLYGON (((-49.26931 -15.44849, -49.26658...",0.388889,0.777778,0.444444
556,53001.0,2555153.0,773326.0,48365.0,10123.0,2104.0,70659.0,286.0,45071.0,43170.0,...,2255.489707,0.005116,53.0,DF,Distrito Federal,Brasília,"MULTIPOLYGON (((-47.57461 -15.51341, -47.56997...",1.000000,1.000000,1.000000

In [55]:
np.nanpercentile(access_df['pct_men'], 90)

0.6428571428571429