In [1]:
import pandas as pd
import geobr
import numpy as np
import os

In [2]:
from pathlib import Path

# `cwd`: current directory is straightforward
basepath = str(Path.cwd().parent) + '/public/data'
basepath

'/Users/feliphlvo/access-to-education/public/data'

In [3]:
# Municipalities
municipalities_df = geobr.read_municipality(year=2010)

In [4]:
len(municipalities_df)

5567

In [5]:
municipalities_df.head()

,code_muni,name_muni,code_state,abbrev_state,geometry
0,1100015.0,Alta Floresta D'oeste,11.0,RO,"MULTIPOLYGON (((-62.24620 -11.90149, -62.24151..."
1,1100023.0,Ariquemes,11.0,RO,"MULTIPOLYGON (((-63.13712 -9.78413, -63.09013 ..."
2,1100031.0,Cabixi,11.0,RO,"MULTIPOLYGON (((-60.52408 -13.32137, -60.37161..."
3,1100049.0,Cacoal,11.0,RO,"MULTIPOLYGON (((-61.42679 -11.11376, -61.42900..."
4,1100056.0,Cerejeiras,11.0,RO,"MULTIPOLYGON (((-61.41347 -13.23417, -61.42603..."

In [6]:
# Microregions
microregion_df = geobr.read_micro_region(year=2010, )

In [7]:
microregion_df.head(20)

,code_state,abbrev_state,name_state,code_micro,name_micro,geometry
0,11.0,RO,Rondônia,11007.0,Vilhena,"MULTIPOLYGON (((-60.44294 -11.01572, -60.43794..."
1,11.0,RO,Rondônia,11001.0,Porto Velho,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ..."
2,11.0,RO,Rondônia,11004.0,Ji-Paraná,"MULTIPOLYGON (((-61.57450 -9.72063, -61.57157 ..."
3,11.0,RO,Rondônia,11002.0,Guajará-Mirim,"MULTIPOLYGON (((-65.37724 -10.43117, -65.37505..."
4,11.0,RO,Rondônia,11008.0,Colorado Do Oeste,"MULTIPOLYGON (((-61.47607 -12.46432, -61.46801..."
5,11.0,RO,Rondônia,11006.0,Cacoal,"MULTIPOLYGON (((-61.42731 -10.98755, -61.00059..."
6,11.0,RO,Rondônia,11003.0,Ariquemes,"MULTIPOLYGON (((-62.22055 -8.59088, -62.21053 ..."
7,11.0,RO,Rondônia,11005.0,Alvorada D'oeste,"MULTIPOLYGON (((-63.62702 -11.00502, -63.60993..."
8,12.0,AC,Acre,12002.0,Tarauacá,"MULTIPOLYGON (((-70.05145 -7.84816, -69.44432 ..."
9,12.0,AC,Acre,12003.0,Sena Madureira,"MULTIPOLYGON (((-69.44261 -8.36795, -68.64719 ..."
10,12.0,AC,Acre,12004.0,Rio Branco,"MULTIPOLYGON (((-68.21990 -9.24275, -67.51688 ..."
11,12.0,AC,Acre,12001.0,Cruzeiro Do Sul,"MULTIPOLYGON (((-73.18253 -7.33550, -72.58477 ..."
12,12.0,AC,Acre,12005.0,Brasiléia,"MULTIPOLYGON (((-68.44879 -10.18410, -68.44250..."
13,13.0,AM,Amazônas,13005.0,Tefé,"MULTIPOLYGON (((-65.12451 -2.38965, -65.11559 ..."
14,13.0,AM,Amazônas,13008.0,Rio Preto Da Eva,"MULTIPOLYGON (((-59.93995 0.03489, -59.93328 0..."
15,13.0,AM,Amazônas,13001.0,Rio Negro,"MULTIPOLYGON (((-67.32609 2.02971, -67.31682 2..."
16,13.0,AM,Amazônas,13012.0,Purus,"MULTIPOLYGON (((-62.99193 -4.52308, -62.98952 ..."
17,13.0,AM,Amazônas,13010.0,Parintins,"MULTIPOLYGON (((-58.89546 0.26351, -58.89504 -..."
18,13.0,AM,Amazônas,13007.0,Manaus,"MULTIPOLYGON (((-60.24162 -1.99757, -60.23298 ..."
19,13.0,AM,Amazônas,13013.0,Madeira,"MULTIPOLYGON (((-58.84164 -3.85220, -58.84492 ..."

In [8]:
# Region
region_df = geobr.read_region(year=2010)

In [9]:
len(region_df)

5

In [10]:
# State
state_df = geobr.read_state(year=2010)

In [11]:
state_df.head()

,code_state,abbrev_state,name_state,code_region,name_region,geometry
0,11.0,RO,Rondônia,1.0,Norte,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ..."
1,12.0,AC,Acre,1.0,Norte,"MULTIPOLYGON (((-73.18253 -7.33550, -72.58477 ..."
2,13.0,AM,Amazonas,1.0,Norte,"MULTIPOLYGON (((-67.32609 2.02971, -67.31682 2..."
3,14.0,RR,Roraima,1.0,Norte,"MULTIPOLYGON (((-60.20051 5.26434, -60.19273 5..."
4,15.0,PA,Pará,1.0,Norte,"MULTIPOLYGON (((-54.95431 2.58369, -54.93542 2..."

In [12]:
# Country
country_df = geobr.read_country(year=2010)

In [50]:
access_df = pd.read_csv(f"{basepath}/access_df.csv")

/var/folders/v6/m0s_jr6d723809xzpzrvx_340000gn/T/ipykernel_73534/3644115942.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  access_df = pd.read_csv(f"{basepath}/access_df.csv")

In [51]:
access_df.columns

Index(['Unnamed: 0', 'sector_id', '3sfca_n_classes', 'e2sfca_n_classes',
       'name_state', 'n_households', 'n_people', 'avg_monthly_earnings',
       'n_people_15to17_white', 'n_people_15to17_black',
       'n_people_15to17_asian', 'n_people_15to17_parda',
       'n_people_15to17_indigenous', 'n_people_15', 'n_people_16',
       'n_people_17', 'n_people_15_men', 'n_people_16_men', 'n_people_17_men',
       'n_people_15_women', 'n_people_16_women', 'n_people_17_women',
       'n_people_15to17dem', 'n_people_15to17_alternative', 'code_state',
       'abbrev_state', 'code_muni', 'name_muni', 'district_id',
       'district_name', 'subdistrict_id', 'subdistrict_name',
       'neighborhood_name', 'neighborhood_id', 'geometry', 'code_micro',
       'microregion_name', 'mesoregion_id', 'mesoregion_name',
       'n_people_15to17', 'A', 'Q', 'H', 'pct_black', 'pct_white',
       'pct_indigenous', 'pct_pardos', 'pct_asian', 'pct_men', 'area',
       'density', 'zone_rural', 'zone_urban', 'region_Midwest', 'region_North',
       'region_Northeast', 'region_South', 'region_Southeast', 'fpl_above',
       'fpl_below', 'A_percentile', 'Q_percentile', 'H_percentile',
       'is_outlier', 'std_from_mean', 'A_clipped', 'H_clipped', 'A_normalized',
       'H_normalized', 'A_clipped_normalized', 'H_clipped_normalized',
       'points', 'avg_monthly_earnings_percentile', 'pct_men_percentile',
       'majority_race', 'avg_monthly_earnings_dollars'],
      dtype='object')

In [52]:
outcome_metrics = [
    'A', 'Q', 'H', 
    #'A_normalized', 'H_normalized', 
    #'A_percentile', 'Q_percentile', 'H_percentile',
    #'A_clipped_normalized', 'H_clipped_normalized',

]
access_df.describe()[outcome_metrics]

                   A              Q              H
count  301567.000000  281996.000000  301567.000000
mean        0.644209       0.402976       0.260318
std         0.613548       0.057715       0.219491
min         0.000000       0.150000       0.000000
25%         0.486994       0.360583       0.178378
50%         0.638896       0.408520       0.259724
75%         0.801792       0.443783       0.332465
max       176.032343       0.669369      42.185822

### Creating Access Metrics at different levels

In [53]:
# Renaming variables
access_df = access_df.rename(columns = {'city_id':'code_muni', 'city_name':'name_muni', 'microregion_id':'code_micro', 'state_id':'code_state', 'state_abbrev':'abbrev_state', 'state':'name_state'})

# Filling NaN values for the regions that do not have a school nearby
access_df[["A", "H"]] = access_df[["A", "H"]].fillna(0)

# For each race Find how many census tracts have a majority of that race
access_df['majority_race'] = access_df[[f'n_people_15to17_{x}' for x in ['white', 'black', 'parda', 'asian', 'indigenous']]].idxmax(axis=1)

# Adding calculation for dollar monthly earnings
access_df['avg_monthly_earnings_dollars'] = access_df['avg_monthly_earnings'] / 1.7606

In [40]:


agg_dict = {'sum':[
    'n_people',
    'n_households',
    'n_people_15to17_white', 'n_people_15to17_black',
       'n_people_15to17_asian', 'n_people_15to17_parda',
       'n_people_15to17_indigenous', 'n_people_15', 'n_people_16',
       'n_people_17', 'n_people_15_men', 'n_people_16_men', 'n_people_17_men',
       'n_people_15_women', 'n_people_16_women', 'n_people_17_women',
       'n_people_15to17dem', 'n_people_15to17'
       ], 

       'weighted_average':[
           'A', 'Q', 'H', 'A_normalized', 'H_normalized',
       'pct_black', 'pct_white', 'pct_indigenous', 'pct_pardos', 'pct_asian',
       'pct_men', 'avg_monthly_earnings', 'avg_monthly_earnings_dollars', 'fpl_below'
       ]}

# Define a custom function for weighted average in a groupby, ignoring NaNs

In [41]:
def new_access_level(
        previous_level, 
        new_level_df, 
        new_level_name, 
        calculate_percentiles=['A', 'Q', 'H', 'avg_monthly_earnings', 'pct_men']
        ):

    def weighted_avg(group):
        weights = group['n_people_15to17']
        
        # Define numerical columns        
        weighted_averages = {}
        
        for col in agg_dict['weighted_average']:
            # Step 1: Mask for non-NaN values
            non_nan_mask = ~np.isnan(group[col])
            
            # Step 2: Apply mask to values and weights
            values_non_nan = group[col][non_nan_mask]
            weights_non_nan = weights[non_nan_mask]
            
            # Step 3: Check if sum of weights is zero
            if np.sum(weights_non_nan) == 0:
                weighted_averages[col] = np.nan
            else:
                # Step 4: Compute weighted average ignoring NaNs
                weighted_averages[col] = np.average(values_non_nan, weights=weights_non_nan)
        
        return pd.Series(weighted_averages)


    ## Group by 'Category'
    grouped = previous_level.groupby(new_level_name)

    # Calculate sum of 'Quantity' and 'Price'
    sum_columns = grouped[agg_dict['sum']].sum().reset_index()


    # Calculate weighted average of 'Value' using 'Weight'
    weighted_average = grouped.apply(weighted_avg).reset_index(drop=True)#[agg_dict['weighted_average']]

    # Combine the sum and weighted average DataFrames
    result_df = pd.concat([sum_columns, weighted_average], axis=1)

    new_level_access_df = result_df.merge(new_level_df, on=new_level_name, how='right')
    print(new_level_access_df.columns)
    # Calculate percentiles
    def add_percentile(access_df, cols, groupby = 'state_id'):
        for col in cols:
            access_df[f'{col}_percentile'] = access_df.groupby(groupby)[col].rank(pct=True)
        return access_df

    if calculate_percentiles:
        new_level_access_df = add_percentile(new_level_access_df, calculate_percentiles, groupby = 'code_state')
    
    new_level_access_df['majority_race'] = new_level_access_df[
        [f'n_people_15to17_{x}' for x in ['white', 'black', 'parda', 'asian', 'indigenous']]
        ].idxmax(axis=1)


    return new_level_access_df

In [44]:
access_df.columns

Index(['Unnamed: 0', 'sector_id', '3sfca_n_classes', 'e2sfca_n_classes',
       'name_state', 'n_households', 'n_people', 'avg_monthly_earnings',
       'n_people_15to17_white', 'n_people_15to17_black',
       'n_people_15to17_asian', 'n_people_15to17_parda',
       'n_people_15to17_indigenous', 'n_people_15', 'n_people_16',
       'n_people_17', 'n_people_15_men', 'n_people_16_men', 'n_people_17_men',
       'n_people_15_women', 'n_people_16_women', 'n_people_17_women',
       'n_people_15to17dem', 'n_people_15to17_alternative', 'code_state',
       'abbrev_state', 'code_muni', 'name_muni', 'district_id',
       'district_name', 'subdistrict_id', 'subdistrict_name',
       'neighborhood_name', 'neighborhood_id', 'geometry', 'code_micro',
       'microregion_name', 'mesoregion_id', 'mesoregion_name',
       'n_people_15to17', 'A', 'Q', 'H', 'pct_black', 'pct_white',
       'pct_indigenous', 'pct_pardos', 'pct_asian', 'pct_men', 'area',
       'density', 'zone_rural', 'zone_urban', 'region_Midwest', 'region_North',
       'region_Northeast', 'region_South', 'region_Southeast', 'fpl_above',
       'fpl_below', 'A_percentile', 'Q_percentile', 'H_percentile',
       'is_outlier', 'std_from_mean', 'A_clipped', 'H_clipped', 'A_normalized',
       'H_normalized', 'A_clipped_normalized', 'H_clipped_normalized',
       'points', 'avg_monthly_earnings_percentile', 'pct_men_percentile',
       'majority_race', 'avg_monthly_earnings_dollars'],
      dtype='object')

In [45]:
municipalities_access_df = new_access_level(access_df, municipalities_df, 'code_muni')
municipalities_access_df = municipalities_access_df.merge(state_df[['code_state', 'name_state']], on='code_state', how='left')
municipalities_access_df.to_csv(f"{basepath}/municipality_access_df.csv", index=False)
municipalities_access_df.head()
print("Result DataFrame:")

Index(['code_muni', 'n_people', 'n_households', 'n_people_15to17_white',
       'n_people_15to17_black', 'n_people_15to17_asian',
       'n_people_15to17_parda', 'n_people_15to17_indigenous', 'n_people_15',
       'n_people_16', 'n_people_17', 'n_people_15_men', 'n_people_16_men',
       'n_people_17_men', 'n_people_15_women', 'n_people_16_women',
       'n_people_17_women', 'n_people_15to17dem', 'n_people_15to17', 'A', 'Q',
       'H', 'A_normalized', 'H_normalized', 'pct_black', 'pct_white',
       'pct_indigenous', 'pct_pardos', 'pct_asian', 'pct_men',
       'avg_monthly_earnings', 'avg_monthly_earnings_dollars', 'fpl_below',
       'name_muni', 'code_state', 'abbrev_state', 'geometry'],
      dtype='object')
Result DataFrame:

In [46]:
# Microregion
microregion_access_df = new_access_level(access_df, microregion_df, 'code_micro')
print("Result DataFrame:")
microregion_access_df.to_csv(f"{basepath}/microregion_access_df.csv", index=False)
microregion_access_df.head()

Index(['code_micro', 'n_people', 'n_households', 'n_people_15to17_white',
       'n_people_15to17_black', 'n_people_15to17_asian',
       'n_people_15to17_parda', 'n_people_15to17_indigenous', 'n_people_15',
       'n_people_16', 'n_people_17', 'n_people_15_men', 'n_people_16_men',
       'n_people_17_men', 'n_people_15_women', 'n_people_16_women',
       'n_people_17_women', 'n_people_15to17dem', 'n_people_15to17', 'A', 'Q',
       'H', 'A_normalized', 'H_normalized', 'pct_black', 'pct_white',
       'pct_indigenous', 'pct_pardos', 'pct_asian', 'pct_men',
       'avg_monthly_earnings', 'avg_monthly_earnings_dollars', 'fpl_below',
       'code_state', 'abbrev_state', 'name_state', 'name_micro', 'geometry'],
      dtype='object')
Result DataFrame:

,code_micro,n_people,n_households,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,n_people_15to17_parda,n_people_15to17_indigenous,n_people_15,n_people_16,...,abbrev_state,name_state,name_micro,geometry,A_percentile,Q_percentile,H_percentile,avg_monthly_earnings_percentile,pct_men_percentile,majority_race
0,11007.0,131293.0,40123.0,3079.0,406.0,74.0,4252.0,81.0,2678.0,2630.0,...,RO,Rondônia,Vilhena,"MULTIPOLYGON (((-60.44294 -11.01572, -60.43794...",1.000,0.125,0.750,0.875,0.125,n_people_15to17_parda
1,11001.0,530534.0,148820.0,8885.0,2084.0,632.0,20603.0,118.0,11058.0,10670.0,...,RO,Rondônia,Porto Velho,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ...",0.250,0.500,0.250,1.000,0.250,n_people_15to17_parda
2,11004.0,293414.0,89406.0,6225.0,1136.0,255.0,10467.0,87.0,6197.0,6111.0,...,RO,Rondônia,Ji-Paraná,"MULTIPOLYGON (((-61.57450 -9.72063, -61.57157 ...",0.375,0.625,0.375,0.750,0.375,n_people_15to17_parda
3,11002.0,69331.0,19056.0,1128.0,271.0,50.0,2784.0,274.0,1539.0,1533.0,...,RO,Rondônia,Guajará-Mirim,"MULTIPOLYGON (((-65.37724 -10.43117, -65.37505...",0.625,0.375,0.625,0.250,0.500,n_people_15to17_parda
4,11008.0,52293.0,16501.0,1294.0,218.0,46.0,1750.0,5.0,1126.0,1123.0,...,RO,Rondônia,Colorado Do Oeste,"MULTIPOLYGON (((-61.47607 -12.46432, -61.46801...",0.875,1.000,1.000,0.375,1.000,n_people_15to17_parda

In [47]:
# State
state_access_df = new_access_level(access_df, state_df, 'code_state', calculate_percentiles=False)
print("Result DataFrame:")
state_access_df.to_csv(f"{basepath}/state_access_df.csv", index=False)
state_access_df.head()

Index(['code_state', 'n_people', 'n_households', 'n_people_15to17_white',
       'n_people_15to17_black', 'n_people_15to17_asian',
       'n_people_15to17_parda', 'n_people_15to17_indigenous', 'n_people_15',
       'n_people_16', 'n_people_17', 'n_people_15_men', 'n_people_16_men',
       'n_people_17_men', 'n_people_15_women', 'n_people_16_women',
       'n_people_17_women', 'n_people_15to17dem', 'n_people_15to17', 'A', 'Q',
       'H', 'A_normalized', 'H_normalized', 'pct_black', 'pct_white',
       'pct_indigenous', 'pct_pardos', 'pct_asian', 'pct_men',
       'avg_monthly_earnings', 'avg_monthly_earnings_dollars', 'fpl_below',
       'abbrev_state', 'name_state', 'code_region', 'name_region', 'geometry'],
      dtype='object')
Result DataFrame:

,code_state,n_people,n_households,n_people_15to17_white,n_people_15to17_black,n_people_15to17_asian,n_people_15to17_parda,n_people_15to17_indigenous,n_people_15,n_people_16,...,pct_men,avg_monthly_earnings,avg_monthly_earnings_dollars,fpl_below,abbrev_state,name_state,code_region,name_region,geometry,majority_race
0,11.0,1542048.0,454527.0,31306.0,5843.0,1441.0,56309.0,746.0,32671.0,32033.0,...,0.5037,1065.3697,605.1174,0.0237,RO,Rondônia,1.0,Norte,"MULTIPOLYGON (((-63.32721 -7.97672, -62.86662 ...",n_people_15to17_parda
1,12.0,728754.0,190503.0,10833.0,2650.0,974.0,32430.0,1022.0,16875.0,15643.0,...,0.5001,884.2296,502.2320,0.1709,AC,Acre,1.0,Norte,"MULTIPOLYGON (((-73.18253 -7.33550, -72.58477 ...",n_people_15to17_parda
2,13.0,3457478.0,796959.0,45128.0,8402.0,1990.0,160085.0,11225.0,78681.0,75750.0,...,0.5012,838.2776,476.1318,0.1855,AM,Amazonas,1.0,Norte,"MULTIPOLYGON (((-67.32609 2.02971, -67.31682 2...",n_people_15to17_parda
3,14.0,445291.0,115320.0,5578.0,1463.0,261.0,18419.0,3274.0,10143.0,9588.0,...,0.5054,993.2620,564.1611,0.1481,RR,Roraima,1.0,Norte,"MULTIPOLYGON (((-60.20051 5.26434, -60.19273 5...",n_people_15to17_parda
4,15.0,7534979.0,1857406.0,98282.0,31570.0,4553.0,347443.0,2581.0,166139.0,161059.0,...,0.5046,737.2540,418.7515,0.2405,PA,Pará,1.0,Norte,"MULTIPOLYGON (((-54.95431 2.58369, -54.93542 2...",n_people_15to17_parda

In [48]:
access_df.to_csv(f'{basepath}/access_df.csv', index=False)

In [49]:
cols_to_check = ['n_people_15to17', 'name_state', 'abbrev_state', 'name_micro', 'name_muni', 'avg_monthly_earnings', 'avg_monthly_earnings_dollars']

for i in cols_to_check:
    if i not in state_access_df.columns:
        print(f'{i} not in state_access_df.columns')
    if i not in microregion_access_df.columns:
        print(f'{i} not in microregion_access_df.columns')
    if i not in municipalities_access_df.columns:
        print(f'{i} not in municipalities_access_df.columns')
    if i not in access_df.columns:
        print(f'{i} not in access_df.columns')

name_micro not in state_access_df.columns
name_micro not in municipalities_access_df.columns
name_micro not in access_df.columns
name_muni not in state_access_df.columns
name_muni not in microregion_access_df.columns